/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.body-content {
    flex: 1 0 auto;
}

main {
    flex: 1 0 auto;
}

footer {
    min-height: 50px;
    flex-shrink: 0;
    background: #f8f9fa;
    width: 100%;
    text-align: center;
}