<div style="display: flex; flex-direction: column; align-items: flex-start; gap: 8px;">
    <h4 style="text-align: center; width: 100%;">Change Password</h4>
    <table style="width: 100%; border-collapse: separate; border-spacing: 0 8px;">
        <tr>
            <td style="padding-right: 12px; vertical-align: middle;">
                <label for="password">Enter new password:</label>
            </td>
            <td style="width: 100%;">
                <input type="text" id="password" name="password" style="width: 100%;" autocomplete="off" />
            </td>
        </tr>
    </table>
</div>
<button type="submit">Save</button>
